@media only screen and (max-width: 1088px) {
  .submit-button {
    margin-top: 10px;
  }
}

@font-face {
  font-family: "lato";
  src: url(fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: "lato-light";
  src: url(fonts/Lato-Light.ttf);
}

* {
  font-family: lato-light;
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
  color: #dd127b;
}

a:visited {
  text-decoration: none;
  color: #dd127b;
}
a:hover {
  text-decoration: underline;
  color: #00ad9e;
}

h3 {
  font-family: lato;
}

.body-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.signup-wrapper {
  margin-top: 5vh;
  padding: 40px 20px 40px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #f4f6f8;
  width: 405px;
  height: 250px;
  border: 0.5px solid #dfe3e8;
}

.signup-wrapper2 {
  margin: 5vh 0px 45px 0px;
  padding: 40px 20px 40px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #f4f6f8;
  width: 405px;
  height: 390px;
  border: 0.5px solid #dfe3e8;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-username {
  width: 300px;
  height: 42px;
  border: 1px solid #dfe3e8;
  font-size: 13px;
  padding: 0px 15px 0px 15px;
}

.input-item {
  width: 300px;
  margin-top: 15px;
  height: 42px;
  border: 1px solid #dfe3e8;
  font-size: 13px;
  padding: 0px 15px 0px 15px;
}

.input-username:focus {
  outline: 1px solid #f4ce73;
}

.input-item:focus {
  outline: 1px solid #f4ce73;
}

.add-username-button {
  margin-top: 20px;
  height: 42px;
  width: 300px;
  border: none;
  color: white;
  background-color: #18c76c;
  font-family: lato;
  font-size: 14px;
  box-shadow: 0px 0px 3px 0px rgba(24, 199, 108, 0.2);
}

.add-username-button:hover {
  box-shadow: 0px 0px 20px 20px rgba(255, 255, 255, 0.1) inset;
}

.add-username-button:focus {
  outline: none;
}

.mainWrapper {
  width: 60vw;
  background-color: #f1e9d2;
  color: #333;
  font-size: 14px;
  border-radius: 12px;
  margin-top: 8vh;
  margin-bottom: 7vh;
  padding: 20px 30px 30px 30px;
  box-shadow: 0px 0px 15px 0px #aaa;
  border: none;
  line-height: 1.5rem;
}

.code {
  background-color: #eee;
  color: #333;
  padding: 6px 12px 7px 12px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  line-height: 25px;
}

.fab {
  font-size: 32px;
}

i {
  margin: 0px 5px 0px 5px;
}

.footer {
  text-align: center;
  line-height: 1rem;
}
